.Rproj.user
.Rhistory
.RData
.Ruserdata
Assignment_1/HW1.1_Final_cache/html/__packages
Assignment_1/HW1.1_Final_cache/html/unnamed-chunk-2_5e1c76028f0db0f43605e18dbff0d9d0.RData
Assignment_1/HW1.1_Final_cache/html/unnamed-chunk-2_5e1c76028f0db0f43605e18dbff0d9d0.rdb
Assignment_1/HW1.1_Final_cache/html/unnamed-chunk-2_5e1c76028f0db0f43605e18dbff0d9d0.rdx
Assignment_1/HW1.1_Final_files/figure-html/unnamed-chunk-11-1.png
Assignment_1/HW1.1_Final_files/figure-html/unnamed-chunk-12-1.png
Assignment_1/HW1.1_Final_files/figure-html/unnamed-chunk-5-1.png
Assignment_1/HW1.1_Final_files/figure-html/unnamed-chunk-7-1.png
Assignment_1/HW1.1_Final_files/figure-html/unnamed-chunk-8-1.png
